# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# stackbit
.stackbit/cache
.cache

# testing
/coverage

# next.js
/.next/

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
.env
.env.local

# IDE
*.code-workspace
.idea

# Local Netlify folder
.netlify
